<h1>Search</h1>

<% if (allrecs.length > 0) {%>
    <% allrecs.forEach((recref, index) => { %>
      <product>
      <table>
        <tr> <td colspan="2"><%= recref.product_name %></td></tr>
        <tr> <td colspan="2"><%= recref.prod_image %></td></tr>
        <tr> <td><%= recref.price %></td></tr>
        <tr> <td><%= recref.size %></td></tr>
          <td><a href='/product/<%= recref.id %>/show'>Details</a></td></tr>
      </table>
    </product>
    <% }); %>
    <% } else { %>
      <p>No products available.</p>
  
  <% } %>