<% if (allrecs.length > 0) {%>
    <table border="1">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>


    <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.id %></td>
            <td><%= recref.category_name %></td>
            <td><a href='/category/<%= recref.id %>/show'> Details</a></td>
            <td><a href='/category/<%= recref.id %>/edit'>Edit</a></td>
            <td><a href='/category/<%= recref.id %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
            </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>

<p> <a href='/category/addrecord'>Add New</a> </p>