<h1> Details </h1>
<table>
    <tr> <td> Promotion ID </td> <td> <%= onerec.id %> </td> </tr>
    <tr> <td> Promotion Title: </td> <td> <%= onerec.promo_title %> </td> </tr>
    <tr> <td> Promotion Image: </td> <td> <%= onerec.promo_image %> </td> </tr>
    <tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
    <tr> <td> Start Date: </td> <td> <%= onerec.start_date %> </td> </tr>
    <tr> <td> End Date: </td> <td> <%= onerec.end_date %> </td> </tr>
    <tr> <td> Discount Rate: </td> <td> <%= onerec.discount_rate %> </td> </tr>
</table>