<h1> Details </h1>
<table>
    <tr> <td> Product ID: </td> <td> <%= onerec.id %> </td> </tr>
    <tr> <td> Product Name: </td> <td> <%= onerec.product_name %> </td> </tr>
    <tr> <td> Image: </td> <td> <%= onerec.prod_image %> </td> </tr>
    <tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
    <tr> <td> Price: </td> <td> <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(onerec.price) %>  </td> </tr>
    <tr> <td> Size: </td> <td> <%= onerec.size %> </td> </tr>
    <tr> <td> Color: </td> <td> <%= onerec.color %> </td> </tr>
    <tr> <td> Brand ID: </td> <td> <%= onerec.brand_id %> </td> </tr>
    <tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
    <tr> <td> Sold: </td> <td> <%= onerec.sold %> </td> </tr>
    <tr> <td> Homepage: </td> <td> <%= onerec.homepage %> </td> </tr>
</table>