<% if (allrecs.length > 0) {%>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Order Status</th>
        </tr>


    <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.id %></td>
            <td><%= recref.user_id %></td>
            <td><%= recref.order_date.toLocaleDateString('en-US') %></td>
            <td><%= recref.total_amount %></td>
            <td><%= recref.order_status %></td>
            <td><a href='/order_detail/<%= recref.id %>/show'> Details</a></td>
            <td><a href='/order_detail/<%= recref.id %>/edit'>Edit</a></td>
            <td><a href='/order_detail/<%= recref.id %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
            </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>

<p> <a href='/order_detail/addrecord'>Add New</a> </p>