<h1> Details </h1>
<table>
    <tr> <td> Customer ID: </td> <td> <%= onerec.id %> </td> </tr>
    <tr> <td> First Name: </td> <td> <%= onerec.first_name %> </td> </tr>
    <tr> <td> Middle Name: </td> <td> <%= onerec.middle_name %> </td> </tr>
    <tr> <td> Last name: </td> <td> <%= onerec.last_name %> </td> </tr>
    <tr> <td> Email Address: </td> <td> <%= onerec.email_address %> </td> </tr>
    <tr> <td> Phone Number: </td> <td> <%= onerec.phone_number %> </td> </tr>
    <tr> <td> Password: </td> <td> <%= onerec.password %> </td> </tr>
    <tr> <td> Address Line 1: </td> <td> <%= onerec.address_line1 %> </td> </tr>
    <tr> <td> Address Line 2: </td> <td> <%= onerec.address_line2 %> </td> </tr>
    <tr> <td> City: </td> <td> <%= onerec.city %> </td> </tr>
    <tr> <td> State: </td> <td> <%= onerec.state %> </td> </tr>
    <tr> <td> Zip Code: </td> <td> <%= onerec.zip_code %> </td> </tr>
    <tr> <td> Country: </td> <td> <%= onerec.country %> </td> </tr>
    <tr> <td> Payment Method: </td> <td> <%= onerec.payment_method %> </td> </tr>
    <tr> <td> Card Number: </td> <td> <%= onerec.card_number %> </td> </tr>
    <tr> <td> Cary Expiry: </td> <td> <%= onerec.cary_expiry %> </td> </tr>
    <tr> <td> Card CVV: </td> <td> <%= onerec.card_cvv %> </td> </tr>
</table>