<h1> Edit Product</h1>
<form action="/order_items/save" method="post">
    <input type="hidden" name="id" value="<%= onerec.id %>" >
<table>

<tr> <td> Order ID: </td> <td> <input type="number" value="<%= onerec.order_id %>" name="order_id"> </td> </tr>
<tr> <td> Product ID: </td> <td> <input type="number" value="<%= onerec.product_id %>" name="product_id"> </td> </tr>
<tr> <td> Price: </td> <td> <input type="text" value="<%= onerec.price %>" name="price" required> </td> </tr>
<tr> <td> Quantity: </td> <td> <input type="price" value="<%= onerec.quantity %>" name="quantity" required> </td> </tr>

</table>

<button type="submit">Save</button>
</form>
